#button{
    background: $black;
    color: $white;
    border: none;
    height: 40px;
    width: 170px;
    border-radius: 50px;
    letter-spacing: 3px;
    font-family: $font2;
    text-transform: uppercase;
}